PORT=3000
GOOGLE_API_KEY="<your api key>"
FLUX_API_KEY="<your api key>"
FRONTEND_URL=http://localhost:8080
VITE_BACKEND_URL=http://localhost:3000

# thread genie creds
TWITTER_API_KEY="<your api key>"
TWITTER_API_SECRET="<your secret key>"
TWITTER_ACCESS_TOKEN="<your access token>"
TWITTER_ACCESS_SECRET="<your access secret>"
TWITTER_BEARER_TOKEN="<your bearer token>"
TWITTER_CLIENT_ID="<your client id>"
TWITTER_CLIENT_SECRET="<your client secret>"